/**
* Reset input styles.
*/
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all .5s ease;
  background: none;
  border: none;
  color: $color-base;
  width: 100%;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%;

  &:invalid {
    box-shadow: none;
    /* fixes mozilla red outline (shadow) */
  }

  &[readonly] {
    cursor: text;
  }

  &::-ms-clear {
    display: none;
    /* remove IE clear icon */
  }

  @mixin input-placeholder {
    color: $color-base;
  }

  &:not(:disabled) {

    &:hover {}

    &:focus {
      outline: none;
    }
  }
}

.input--primary {
  height: $input-height;
  padding: $input-padding;
  color: $color-input;
  display: flex;

  &:not(:disabled) {

    &:hover {}

    &:focus {}

    @mixin input-placeholder {
      color: $color-input-placeholder;
    }
  }

  /**
   * @disabled
   */
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}